@model APP_ELTAMBO.Entity.Cupon

@{
    ViewBag.Title = "Crear cupón";
}
<section id="cupones">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_MenuAdmin")
        </div>
        <div class="col-md-9">
            <div class="page-header">
                <h2>Crear cupon</h2>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.NombreCupon, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NombreCupon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NombreCupon, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CodigoCupon, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CodigoCupon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CodigoCupon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Porcentaje, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Porcentaje, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Porcentaje, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Visibilidad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="radio-inline">
                                @Html.RadioButton("Visibilidad", 1, true) Ninguna
                            </div>
                            <div class="radio-inline">
                                @Html.RadioButton("Visibilidad", 2) Publicada
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Visibilidad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Estado", (SelectList)ViewBag.listarEstado, "Seleccione Estado", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="@Url.Action("Index","Cupon")" class="btn btn-default">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a lista
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Registar Cupón
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
