@model APP_ELTAMBO.Entity.Categoria

@{
    ViewBag.Title = "DeleteCategoria";
}
<section id="categoria">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_MenuAdmin")
        </div>
        <div class="col-md-9">
            <div class="page-header">
                <h2>Eliminar Categoria</h2>
            </div>
            <div class="alert alert-danger" role="alert">
                <p>¿Desea eliminar la categoria seleccionada?</p>
            </div>
            
            <div>
                <h4>Detalle</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.IdCategoria)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IdCategoria)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NombreCat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NombreCat)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Estado)
                    </dt>

                    <dd>
                        @if (Model.Estado == 1)
                        {
                            <p>Activo</p>
                        }
                        else
                        {
                            <p>Inactivo</p>
                        }
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <a href="@Url.Action("ListaCategorias","Manage")" class="btn btn-default">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a lista
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar Categoria
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>



