@model IEnumerable<APP_ELTAMBO.Entity.Usuario>

@{
    ViewBag.Title = "Lista de Usuarios";
}

<section id="usuarios">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_MenuAdmin")
        </div>
        <div class="col-md-9">
            <div class="page-header">
                <h2>Lista de usuarios</h2>
            </div>
            @*<p>
                <a href="@Url.Action("Create","Usuario")" class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Agregar nuevo usuario
                </a>
            </p>*@

            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdUsuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DNI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>

                    <th>Acciones</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>

                        <td>
                            <div class="btn-group">
                                <a href="@Url.Action("Edit","Usuario", new {  IdLogin=item.IdLogin  })" class="btn btn-default">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a href="@Url.Action("DetalleUsuario","Usuario", new {  IdLogin=item.IdLogin  })" class="btn btn-default">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                                <a href="@Url.Action("Delete","Usuario", new {  IdLogin=item.IdLogin  })" class="btn btn-default">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }

            </table>


        </div>
    </div>
</section>



